* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 12px;
  background: #000;
  color: #eee;
  min-height: 100vh;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin: auto;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    width: 1394px;
  }
}
header,
main,
footer {
  padding: 1rem 1rem;
  margin: 0 auto;
}
p {
  line-height: 1.7;
  margin: 1.5rem 0;
}